/* @font-face {
    font-family: 'Monoton', normal ;
    src: url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
    font-weight: normal;
    font-style: normal;
} */

@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');