:root {
    /* FONT */
    --font-title: 'Monoton', normal;
    --font-body: 'Modern Antiqua', cursive;

    /* COLOR */
    --light: white;
    --dark: rgba(13, 12, 12, 0.6); /* setting alpha = 0.6 for overlay effect withour affecting text */

    /* GAP */
    --grid-gap: 40px;
    --super-large: 70px;

    /* PADDING */
    --padding-medium: 30px;

    /* SIZES */
    --zodiac-size: 170px;
    --symbol-size: 70px;
}