:root {
    /* FONT */
    --font-title: 'Monoton', normal;
    --font-body: 'Modern Antiqua', cursive;

    /* COLOR */
    --light: white;
    --dark: rgba(13, 12, 12, 0.7); /* setting alpha = 0.6 for overlay effect withour affecting text */
    --hover: rgba(156, 35, 177, 0.6);
    --highlight: #EA0D9F;

    /* GAP */
    --grid-gap: 40px;
    --super-large: 70px;

    /* PADDING */
    --padding-small: 10px;
    --padding-medium: 30px;
    --padding-large: 70px;
    --padding-xlarge: 160px;

    --margin-small: 10;
    --margin-medium: 30px;

    /* SIZES */
    --zodiac-size: 150px;
    --symbol-size: 65px;
    --symbol-size-responsive: 60px;
    --symbol-size-fullpage: 80px;
}